@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
/* Prevents horizontal scrolling on mobile devices */
html, body {
  overflow-x: hidden;
  width: 100%;
}}
